<!--Practice01-->

<!---------------------------------------------------------------->

<!--Practice02-->

<!--<h2>Responsive Four Column Layout</h2>-->
<!--<p><strong>Resize the browser window to see the responsive effect.</strong> On screens that are 992px wide or less, the columns will resize from four columns to two columns. On screens that are 600px wide or less, the columns will stack on top of each other instead of next to eachother.</p>-->

<!--<div class="row">-->
<!--  <div class="column" style="background-color:#aaa;">-->
<!--    <h2>Column 1</h2>-->
<!--    <p>Some text..</p>-->
<!--  </div>-->
<!--  <div class="column" style="background-color:#bbb;">-->
<!--    <h2>Column 2</h2>-->
<!--    <p>Some text..</p>-->
<!--  </div>-->
<!--  <div class="column" style="background-color:#ccc;">-->
<!--    <h2>Column 3</h2>-->
<!--    <p>Some text..</p>-->
<!--  </div>-->
<!--  <div class="column" style="background-color:#ddd;">-->
<!--    <h2>Column 4</h2>-->
<!--    <p>Some text..</p>-->
<!--  </div>-->
<!--</div>-->

<!---------------------------------------------------------------->

<!--Practice03-->

<!--<h2>Responsive Four Column Layout with Flex</h2>-->
<!--<p><strong>Resize the browser window to see the responsive effect.</strong> On screens that are 992px wide or less, the columns will resize from four columns to two columns. On screens that are 600px wide or less, the columns will stack on top of each other instead of next to eachother.</p>-->

<!--<div class="row">-->
<!--  <div class="column" style="background-color:#aaa;">-->
<!--    <h2>Column 1</h2>-->
<!--    <p>Some text..</p>-->
<!--  </div>-->
<!--  <div class="column" style="background-color:#bbb;">-->
<!--    <h2>Column 2</h2>-->
<!--    <p>Some text..</p>-->
<!--  </div>-->
<!--  <div class="column" style="background-color:#ccc;">-->
<!--    <h2>Column 3</h2>-->
<!--    <p>Some text..</p>-->
<!--  </div>-->
<!--  <div class="column" style="background-color:#ddd;">-->
<!--    <h2>Column 4</h2>-->
<!--    <p>Some text..</p>-->
<!--  </div>-->
<!--</div>-->

<!---------------------------------------------------------------->

<!--Practice04-->

<h2>Hide elements on different screen sizes</h2>

<div class="example">Example DIV.</div>

<p>When the browser's width is 600px wide or less, hide the div element. Resize the browser window to see the effect.</p>

<!---------------------------------------------------------------->

<!--Practice05-->

<h2>Change the font size of an element on different screen sizes</h2>

<div class="example1">Example DIV.</div>

<p>When the browser's width is 600px wide or less, set the font-size of DIV to 30px. When it is 601px or wider, set the font-size to 80px. Resize the browser window to see the effect.</p>


<!---------------------------------------------------------------->

<!--<header>-->
<!--	<h1>Site name</h1>-->
<!--</header>-->
<!--<main>-->
<!--	<input type="checkbox" id="contents" /><label for="contents">Toggle contents</label>-->
<!--	<p>Bacon ipsum dolor sit amet turkey veniam shankle, culpa short ribs kevin t-bone occaecat. Et laborum venison nostrud, ut veniam sint kielbasa ullamco pancetta. Qui drumstick tail, bacon leberkas shoulder capicola laborum. Minim ipsum bacon, mollit laboris t-bone pariatur. Ham hock reprehenderit sint beef, sausage pig eiusmod t-bone shankle strip steak.</p>-->
<!--	<p>Cow enim excepteur, boudin dolore lorem magna fugiat consequat voluptate. Picanha fugiat chicken, cupim aliquip magna filet mignon prosciutto ut nostrud. Kielbasa rump frankfurter sunt corned beef. Andouille in cillum deserunt, rump et picanha landjaeger tongue anim.</p>-->
<!--	<p>Ad meatball ipsum ground round shank. Quis ipsum meatball exercitation. Laborum swine spare ribs, sunt ball tip magna t-bone venison. Velit doner voluptate non occaecat do ribeye kevin strip steak et. Esse biltong shank ribeye dolor pariatur aute deserunt non est eiusmod pork belly pancetta pork chop. Pork chop id consectetur rump, meatball short loin brisket tail andouille deserunt alcatra irure prosciutto do.</p>-->
<!--	<p>Dolore reprehenderit ex, meatball doner commodo consectetur ea ribeye. Ad aliqua kevin, chuck excepteur minim et cow esse ham hock landjaeger. Alcatra bresaola dolore tempor do, excepteur in velit flank officia dolore meatloaf corned beef picanha. Eu pancetta brisket eiusmod ipsum aute sausage, culpa rump shoulder excepteur nostrud venison sed pork loin. Tempor proident do magna ground round. Ut venison frankfurter et veniam dolore. Pig pork belly beef ribs kevin, doner exercitation magna esse shankle.</p>-->
<!--	<p>Flank anim chuck boudin id consectetur bresaola ham pork loin cupim andouille frankfurter. Proident do ball tip nostrud nulla sed, frankfurter ut commodo corned beef ut. Ex aute in, pig deserunt beef ribs turducken pastrami irure ball tip pork belly pork chop sausage id. Chicken sunt nisi tempor sed. In eiusmod non fatback tempor tenderloin pastrami adipisicing cow lorem ut tail jerky cupidatat venison. Jowl consequat commodo pork loin ipsum pork belly prosciutto aute beef. Ball tip shoulder aliqua, fugiat landjaeger kevin pork chop beef ribs leberkas hamburger cillum turkey ut doner culpa.</p>-->
<!--</main>-->
<!--<footer>-->
<!--	<p>© 2015 No rights reserved.</p>-->
<!--	<p>Made with ♥ by an anonymous pastafarian.</p>-->
<!--</footer>-->

<!---------------------------------------------------------------->

<!--<header>-->
<!--	<h1>Site name</h1>-->
<!--</header>-->
<!--<main>-->
<!--	<input type="checkbox" id="contents" /><label for="contents">Toggle contents</label>-->
<!--	<p>Bacon ipsum dolor sit amet turkey veniam shankle, culpa short ribs kevin t-bone occaecat. Et laborum venison nostrud, ut veniam sint kielbasa ullamco pancetta. Qui drumstick tail, bacon leberkas shoulder capicola laborum. Minim ipsum bacon, mollit laboris t-bone pariatur. Ham hock reprehenderit sint beef, sausage pig eiusmod t-bone shankle strip steak.</p>-->
<!--	<p>Cow enim excepteur, boudin dolore lorem magna fugiat consequat voluptate. Picanha fugiat chicken, cupim aliquip magna filet mignon prosciutto ut nostrud. Kielbasa rump frankfurter sunt corned beef. Andouille in cillum deserunt, rump et picanha landjaeger tongue anim.</p>-->
<!--	<p>Ad meatball ipsum ground round shank. Quis ipsum meatball exercitation. Laborum swine spare ribs, sunt ball tip magna t-bone venison. Velit doner voluptate non occaecat do ribeye kevin strip steak et. Esse biltong shank ribeye dolor pariatur aute deserunt non est eiusmod pork belly pancetta pork chop. Pork chop id consectetur rump, meatball short loin brisket tail andouille deserunt alcatra irure prosciutto do.</p>-->
<!--	<p>Dolore reprehenderit ex, meatball doner commodo consectetur ea ribeye. Ad aliqua kevin, chuck excepteur minim et cow esse ham hock landjaeger. Alcatra bresaola dolore tempor do, excepteur in velit flank officia dolore meatloaf corned beef picanha. Eu pancetta brisket eiusmod ipsum aute sausage, culpa rump shoulder excepteur nostrud venison sed pork loin. Tempor proident do magna ground round. Ut venison frankfurter et veniam dolore. Pig pork belly beef ribs kevin, doner exercitation magna esse shankle.</p>-->
<!--	<p>Flank anim chuck boudin id consectetur bresaola ham pork loin cupim andouille frankfurter. Proident do ball tip nostrud nulla sed, frankfurter ut commodo corned beef ut. Ex aute in, pig deserunt beef ribs turducken pastrami irure ball tip pork belly pork chop sausage id. Chicken sunt nisi tempor sed. In eiusmod non fatback tempor tenderloin pastrami adipisicing cow lorem ut tail jerky cupidatat venison. Jowl consequat commodo pork loin ipsum pork belly prosciutto aute beef. Ball tip shoulder aliqua, fugiat landjaeger kevin pork chop beef ribs leberkas hamburger cillum turkey ut doner culpa.</p>-->
	
<!--</main>-->
<!--<footer>-->
<!--	<p>© 2015 No rights reserved.</p>-->
<!--	<p>Made with ♥ by an anonymous pastafarian.</p>-->
<!--</footer>-->